<% this.title = '参赛管理' %>
<% include header %>
<div class="padding">

        <form class="ui form" action="<%= syzoj.utils.makeUrl(['contest', contest.id, 'privilege']) %>" method="post">
                <div class="inline field">
                    <label class="ui header">启用权限管理（不启用则所有人可访问此题，启用则只有满足以下任一条件的用户才可以访问该题）</label>
                    <div class="ui toggle checkbox">
                        <input type="checkbox"<% if (!contest.is_all) { %> checked<% } %> name="is_all">
                        <label><span style="visibility: hidden; ">　</span></label>
                    </div>
                </div>
                <div class="field">
                    <label>参赛学校</label>
                    <select class="ui fluid search dropdown" multiple="" id="schools_search" name="schools">
                    <% for (let school of schools) { %>
                    <option value="<%= school.id %>" selected><%= school.name %></option>
                    <% } %>
                    </select>
                </div>
                <div class="field">
                    <label>参赛培训类型</label>
                    <select class="ui fluid search dropdown" multiple="" id="training_types_search" name="training_types">
                    <% for (let training_type of training_types) { %>
                    <option value="<%= training_type.id %>" selected><%= training_type.name %></option>
                    <% } %>
                    </select>
                </div>
                <div class="field">
                    <label>参赛班级</label>
                    <select class="ui fluid search dropdown" multiple="" id="classes_search" name="classes">
                    <% for (let class_item of classes) { %>
                    <option value="<%= class_item.id %>" selected><%= class_item.name %></option>
                    <% } %>
                    </select>
                </div>
                <div class="field">
                    <label>参赛用户<a href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'participants']) %>" class="ui labeled icon"> <i class="ui icon eye left"></i>查看参赛用户详情</a></label>
                    <select class="ui fluid search dropdown" multiple="" id="participants_search" name="participants">
                    <% for (let participant of participants) { %>
                    <option value="<%= participant.id %>" selected><%= participant.id %>. <%= participant.username %></option>
                    <% } %>
                    </select>
                </div>
                <div style="text-align: center; margin-top: 30px; ">
                  <button type="submit" class="ui blue labeled icon button"><i class="ui icon edit"></i>提交</button>
                </div>
            </form>

<script>
    $(function () {
        $('#schools_search')
        .dropdown({
        debug: true,
        apiSettings: {
            url: '/api/v2/search/schools/{query}',
            onResponse: function (response) {
            var a = $('#schools_search').val().map(function (x) { return parseInt(x) });
            if (response.results) {
                response.results = response.results.filter(function(x){ return !a.includes(parseInt(x.value))});
            }
            return response;
            },
            cache: false
        }
        });
        $('#classes_search')
        .dropdown({
        debug: true,
        apiSettings: {
            url: '/api/v2/search/classes/{query}',
            onResponse: function (response) {
            var a = $('#classes_search').val().map(function (x) { return parseInt(x) });
            if (response.results) {
                response.results = response.results.filter(function(x){ return !a.includes(parseInt(x.value))});
            }
            return response;
            },
            cache: false
        }
        });
        $('#participants_search')
        .dropdown({
        debug: true,
        apiSettings: {
            url: '/api/v2/search/users/{query}',
            onResponse: function (response) {
            var a = $('#participants_search').val().map(function (x) { return parseInt(x) });
            if (response.results) {
                response.results = response.results.filter(function(x){ return !a.includes(parseInt(x.value))});
            }
            return response;
            },
            cache: false
        }
        });
        $('#training_types_search')
        .dropdown({
        debug: true,
        apiSettings: {
            url: '/api/v2/search/training_types/{query}',
            onResponse: function (response) {
            var a = $('#training_types_search').val().map(function (x) { return parseInt(x) });
            if (response.results) {
                response.results = response.results.filter(function(x){ return !a.includes(parseInt(x.value))});
            }
            return response;
            },
            cache: false
        }
        });
    });
</script>
<% include footer %>