<% this.title = '权限管理' %>
<% include header %>
<div class="padding">
        <form class="ui form" action="<%= syzoj.utils.makeUrl(['problem', problem.id, 'privilege']) %>" method="post">
            
            <div class="inline field">
            <label class="ui header">启用权限管理（不启用则所有人可访问此题，启用则只有满足以下任一条件的用户才可以访问该题）</label>
            <div class="ui toggle checkbox">
                <input type="checkbox"<% if (!problem.is_all) { %> checked<% } %> name="is_all">
                <label><span style="visibility: hidden; ">　</span></label>
            </div>
            </div>
            <div class="field">
                <label>学校</label>
                <select class="ui fluid search dropdown" multiple="" id="search_schools" name="schools">
                <% for (let school of schools) { %>
                <option value="<%= school.id %>" selected><%= school.name %></option>
                <% } %>
                </select>
            </div>
            <div class="field">
                <label>专业</label>
                <select class="ui fluid search dropdown" multiple="" id="search_training_types" name="training_types">
                <% for (let training_type of training_types) { %>
                <option value="<%= training_type.id %>" selected><%= training_type.name %></option>
                <% } %>
                </select>
            </div>
            <div class="field">
                <label>班级</label>
                <select class="ui fluid search dropdown" multiple="" id="search_classes" name="classes">
                <% for (let class_item of classes) { %>
                <option value="<%= class_item.id %>" selected><%= class_item.name %></option>
                <% } %>
                </select>
            </div>
            <div class="field">
                <label>用户</label>
                <select class="ui fluid search dropdown" multiple="" id="search_participants" name="participants">
                <% for (let participant of participants) { %>
                <option value="<%= participant.id %>" selected><%= participant.username %></option>
                <% } %>
                </select>
            </div>
            
            <button type="submit" class="ui labeled icon blue button"><i class="ui edit icon"></i>提交</button>
            <a href="<%= syzoj.utils.makeUrl(['problem', problem.id]) %>" class="ui labeled icon button"><i class="ui angle left icon"></i>返回</a>
        </form>
<script>
$(function () {
  $('#search_schools')
  .dropdown({
    debug: true,
    apiSettings: {
      url: '/api/v2/search/schools/{query}',
      onResponse: function (response) {
        var a = $('#search_schools').val().map(function (x) { return parseInt(x) });
        if (response.results) {
          response.results = response.results.filter(function(x){ return !a.includes(parseInt(x.value))});
        }
        return response;
      },
      cache: false
    }
  });
  $('#search_classes')
  .dropdown({
    debug: true,
    apiSettings: {
      url: '/api/v2/search/classes/{query}',
      onResponse: function (response) {
        var a = $('#search_classes').val().map(function (x) { return parseInt(x) });
        if (response.results) {
          response.results = response.results.filter(function(x){ return !a.includes(parseInt(x.value))});
        }
        return response;
      },
      cache: false
    }
  });
  $('#search_participants')
  .dropdown({
    debug: true,
    apiSettings: {
      url: '/api/v2/search/users/{query}',
      onResponse: function (response) {
        var a = $('#search_participants').val().map(function (x) { return parseInt(x) });
        if (response.results) {
          response.results = response.results.filter(function(x){ return !a.includes(parseInt(x.value))});
        }
        return response;
      },
      cache: false
    }
  });
  $('#search_training_types')
  .dropdown({
    debug: true,
    apiSettings: {
      url: '/api/v2/search/training_types/{query}',
      onResponse: function (response) {
        var a = $('#search_training_types').val().map(function (x) { return parseInt(x) });
        if (response.results) {
          response.results = response.results.filter(function(x){ return !a.includes(parseInt(x.value))});
        }
        return response;
      },
      cache: false
    }
  });
});
</script>
<% include footer %>
