<% this.receptionPage = 'manage'; %>
<% include reception_header %>
<div class="padding">
  <div class="ui <% if (error_info === '') { %>success<% } else { %>error<% } %> message" id="error"
    <% if (error_info === null) { %>hidden<% } %>>
    <% if (error_info !== null) {
          if (error_info === '') error_info = '修改成功。';
      %>
    <% } %>
    <p id="error_info"><%= error_info %></p>
  </div>
  <form id="form" class="ui form" action="<%= syzoj.utils.makeUrl(['reception', 'manage', edited_user.id, 'edit']) %>"
    method="post" onsubmit="return check()">
    <div class="ui horizontal divider">基本信息</div>
    <div class="field">
      <label for="username">用户名</label>
      <input type="text" id="username" name="username" value="<%= edited_user.username %>"
        <% if (!user.allowedManage) { %> readonly<% } %>>
    </div>
    <div class="field">
      <label for="realname">真实姓名</label>
      <input type="text" id="realname" name="realname" value="<%= edited_user.realname %>">
    </div>
    <div class="field">
      <label for="phone">手机号</label>
      <input class="font-content" type="number" id="phone" name="phone" value="<%= parseInt(edited_user.phone) %>">
    </div>
    <div class="field">
      <label class="ui header">密码</label>
      <input type="password" placeholder="原密码（留空则不修改）" name="old_password" id="old_password">
    </div>
    <div class="two fields" id="new_password_field">
      <div class="field">
        <input type="password" placeholder="新密码" name="new_password" id="password1">
      </div>
      <div class="field">
        <input type="password" placeholder="确认密码" id="password2">
      </div>
    </div>
    <%
      let allowedManagePrivilege = user && user.is_admin;
      %>
    <div style="text-align: center; margin-top: 30px; ">
      <button type="submit" class="ui blue labeled icon button"><i class="ui icon edit"></i>修改</button>
      <a href="<%= syzoj.utils.makeUrl(['reception', 'manage', edited_user.id]) %>" class="ui labeled icon button"><i
          class="ui icon angle left"></i>返回</a>
    </div>
  </form>
</div>
</div>
<script src="<%- lib('blueimp-md5/2.10.0/js/md5.min.js') %>"></script>
<script type="text/javascript">
  function make_md5(tag) {
    if (tag.val()) {
      tag.val(md5(tag.val() + "syzoj2_xxx"));
    }
  }
  function check() {
    if (!(/^1(3|4|5|7|8)\d{9}$/.test($("#phone").val()))) {
      $("#error").removeClass("success");
      $("#error").removeClass("error");
      $("#error").addClass("error");
      $("#error_info").html("请输入正确的手机号");
      $("#error").show();
      return false;
    }
    old_password = $("#old_password");
    password1 = $("#password1");
    password2 = $("#password2");
    if ($("#old_password").val() && password1.val() != password2.val()) {
      $("#error").removeClass("success");
      $("#error").removeClass("error");
      $("#error").addClass("error");
      $("#error_info").html("两次输入的密码不一致。");
      $("#error").show();
      return false;
    }
    make_md5(old_password);
    make_md5(password1);
    make_md5(password2);

<% if (allowedManagePrivilege) { %>
      $('.checkbox_privilege').each(function () {
        if ($(this).checkbox('is checked')) {
          var name = $(this).data('name');

          var elem = document.createElement('input');
          elem.type = 'hidden';
          elem.value = name;
          elem.name = 'privileges';
          document.getElementById('form').appendChild(elem);
        }
      });
<% } %>

	return true;
  }
</script>
<script>
  $(function () {
    $('.ui.dropdown:not(.simple)').dropdown();
  });
</script>
<% include reception_footer %>