<% this.receptionPage = 'batch_register'; %>
<% include reception_header %>

<div class="ui error message" id="error" data-am-alert hidden>
    <p id="error_info"></p>
</div>
<div class="ui horizontal divider"><h3>方式1</h3>(用户名自动递增，密码随机)</div>
<form class="ui form" style="margin-bottom:25px;">
    <div class="field">
        <label>数量</label>
        <input type="number" placeholder="" id="amount1" value="0">
    </div>
    <div class="two fields">
        <div class="field">
            <label for="sex">报名时就读学校</label>
            <select class="ui dropdown" name="school1" id="school1">
                <option value="" selected>未选择</option>
                <% for (let school of schools) { %>
                <option value="<%= school.id %>"><%= school.name %></option>
                <% } %>
            </select>
        </div>
        <div class="field">
            <label>Comment</label>
            <input type="text" placeholder="" id="cur_class1" name="cur_class1">
        </div>
    </div>
    <div class="two fields" id="new_password_field">
        <div class="field">
            <label>专业</label>
            <select class="ui dropdown" id="training_type1" name="training_type1">
                <option value="" selected>未选择</option>
                <% for (let training_type of training_types) { %>
                <option value="<%= training_type.id %>"><%= training_type.name %></option>
                <% } %>
            </select>
        </div>
        <div class="field">
            <label>班级</label>
            <select class="ui dropdown" id="training_class1" name="training_class1">
                <option value="" selected>未选择</option>
                <% for (let training_class of training_classs) { %>
                <option value="<%= training_class.id %>"><%= training_class.name %></option>
                <% } %>
            </select>
        </div>
    </div>
    <a id="sign_up1" class="ui button" href="javascript:submit('1');">预览结果</a>
</form>

<div class="ui horizontal divider"><h3>方式2</h3>(指定用户名前缀，密码随机)</div>
<form class="ui form" style="margin-bottom:25px;">
    <div class="two fields">
        <div class="field">
            <label>指定用户名前缀</label>
            <input type="text" placeholder="" id="prefix" name="prefix">
        </div>
        <div class="field">
            <label>数量</label>
            <input type="number" placeholder="" id="amount2" value="0">
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label for="sex">报名时就读学校</label>
            <select class="ui dropdown" name="school2" id="school2">
                <option value="" selected>未选择</option>
                <% for (let school of schools) { %>
                <option value="<%= school.id %>"><%= school.name %></option>
                <% } %>
            </select>
        </div>
        <div class="field">
            <label>Comment</label>
            <input type="text" placeholder="" id="cur_class2" name="cur_class2">
        </div>
    </div>
    <div class="two fields" id="new_password_field">
        <div class="field">
            <label>专业</label>
            <select class="ui dropdown" id="training_type2" name="training_type2">
                <option value="" selected>未选择</option>
                <% for (let training_type of training_types) { %>
                <option value="<%= training_type.id %>"><%= training_type.name %></option>
                <% } %>
            </select>
        </div>
        <div class="field">
            <label>班级</label>
            <select class="ui dropdown" id="training_class2" name="training_class2">
                <option value="" selected>未选择</option>
                <% for (let training_class of training_classs) { %>
                <option value="<%= training_class.id %>"><%= training_class.name %></option>
                <% } %>
            </select>
        </div>
    </div>
    <a id="sign_up" class="ui button" href="javascript:submit(2);">预览结果</a>
</form>


<div class="ui horizontal divider"><h3>方式3</h3>(指定用户名、真实姓名和密码)</div>
<form class="ui form" style="margin-bottom:25px;">
    <div class="three fields">
        <div class="field">
            <label>用户名</label>
            <textarea class="" rows="5" id="usernames" name="usernames"></textarea>
        </div>
        <div class="field">
            <label>真实姓名</label>
            <textarea class="" rows="5" id="realnames" name="realnames"></textarea>
        </div>
        <div class="field">
            <label>密码</label>
            <textarea class="" rows="5" id="passwords" name="passwords"></textarea>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label for="sex">报名时就读学校</label>
            <select class="ui dropdown" name="school3" id="school3">
                <option value="" selected>未选择</option>
                <% for (let school of schools) { %>
                <option value="<%= school.id %>"><%= school.name %></option>
                <% } %>
            </select>
        </div>
        <div class="field">
            <label>Comment</label>
            <input type="text" placeholder="" id="cur_class3" name="cur_class3">
        </div>
    </div>
    <div class="two fields" id="new_password_field">
        <div class="field">
            <label>专业</label>
            <select class="ui dropdown" id="training_type3" name="training_type3">
                <option value="" selected>未选择</option>
                <% for (let training_type of training_types) { %>
                <option value="<%= training_type.id %>"><%= training_type.name %></option>
                <% } %>
            </select>
        </div>
        <div class="field">
            <label>班级</label>
            <select class="ui dropdown" id="training_class3" name="training_class3">
                <option value="" selected>未选择</option>
                <% for (let training_class of training_classs) { %>
                <option value="<%= training_class.id %>"><%= training_class.name %></option>
                <% } %>
            </select>
        </div>
    </div>
    <a id="sign_up" class="ui button" href="javascript:submit(3);">预览结果</a>
</form>

<div class="ui longer modal">
    <i class="close icon"></i>
    <div class="header">
        预览结果
        <div class="ui error message" id="modal_error" data-am-alert hidden>
            <p id="modal_error_info"></p>
        </div>
    </div>
    <div class="scrolling content">
        <table class="ui celled table" id="modal_table">
        </table>
    </div>
    <div class="actions">
        <a class="ui black deny button" href="javascript:clear_new_users();">
            取消
        </a>
        <a class="ui primary right labeled icon button" href="javascript:comfirm(1)">
            确定并下载excel
        <i class="checkmark icon"></i>
        <a class="ui positive right labeled icon button" href="javascript:comfirm(0)">
            确定
        <i class="checkmark icon"></i>
        </a>
    </div>
</div>
<script src="<%- lib('blueimp-md5/2.10.0/js/md5.min.js') %>"></script>
<script src="<%- lib('jquery/3.3.1/jquery.js') %>"></script>
<script src="<%- selfLib('jquery.table2excel.js') %>"></script>

<script>
    let new_users = [];
    function clear_new_users() {
        new_users = [];
        $("#modal_error").hide();
    }
    function submit(type) {
        $("#sign_up"+type).addClass("loading");
        let usernames = [];
        $("#usernames").val().trim().split('\n').forEach(function(v, i) {
            usernames.push(v);
        });
        let passwords = [];
        $("#passwords").val().trim().split('\n').forEach(function(v, i) {
            passwords.push(v);
        });
        let realnames = [];
        $("#realnames").val().trim().split('\n').forEach(function(v, i) {
            realnames.push(v);
        });
        $.ajax({
              url: '/api_reception/reception_batch_register/preview/'+type,
              type: 'POST',
              async: true,
              data: {
                usernames: usernames,
                passwords: passwords,
                realnames: realnames,
                prefix: $("#prefix").val(),
                amount: $("#amount"+type).val(),
                school: $("#school"+type).val(),
                cur_class: $("#cur_class"+type).val(),
                training_type: $("#training_type"+type).val(),
                training_class: $("#training_class"+type).val(),
              },
              success: function(data) {
                  error_code = data.error_code;
                  switch(error_code){
                      case 2008:
                        clear_new_users();
                        show_error("有用户名已被使用");
                        break;
                      case 0:
                        new_users = data.new_users;
                        preview_success();
                        break;
                      case 3001:
                          break;
                      default:
                          show_error("未知错误：" + JSON.stringify(data));
                          break;
                  }
                  $("#sign_up"+type).removeClass("loading");
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                  alert(XMLHttpRequest.responseText);
                  show_error("error");
                  $("#sign_up"+type).removeClass("loading");
              }
        });
        $('.longer.modal').modal('show');
        $("#sign_up"+type).removeClass("loading");
    }

    function preview_success() {
        if (new_users.length <= 0) {
            show_error("数量为0");
            $("#modal_table").html('');
        }
        else {
            $("#modal_table").html(get_contaion(new_users));
        }
    }
    let table_header_map = {
        'username': '用户名',
        'password': '密码',
        'realname': '真实姓名',
        'school': '就读学校',
        'cur_class': '就读班级',
        'training_type': '培训类型',
        'training_class': '培训班级'
    }
    function get_contaion(name){
        var html;
        $.each(name, function (index, item) {
            if (index === 0) {
                html += "<tr>";
                $.each(item, function (vlaIndex) {
                    html += "<td>";
                    html += table_header_map[vlaIndex];
                    html += "</td>";
                });
                html += "</tr>";
            }
            html += "<tr>";
            $.each(item, function (vlaIndex, valItem) {
                html += "<td>";
                html += valItem;
                html += "</td>";
            });
            html += "</tr>";
        });
        return html;
    }

    function comfirm(isDownload) {
        if(new_users.length == 0) {
            show_error("数量为0");
            return;
        }
        new_users.forEach(element => {
            element.password = md5(element.password + "syzoj2_xxx");
        });
        $.ajax({
              url: '/api_reception/reception_batch_register/comfirm',
              type: 'POST',
              async: true,
              data: {
                  new_users: new_users
              },
              success: function(data) {
                  error_code = data.error_code;
                  switch(error_code){
                      case 0:
                        if (isDownload==1) {
                            $("#modal_table").table2excel({  
                                exclude: ".noExl",  
                                name: "Excel Document Name",  
                                filename: "new_users",  
                                exclude_img: true,  
                                exclude_links: true,  
                                exclude_inputs: true
                            });  
                        }
                        show_error("操作成功");
                        clear_new_users();
                        break;
                      case 2001:
                          show_error("服务器未收到数据");
                          break;
                      case 2008:
                          show_error("有用户名已被使用");
                          break;
                      default:
                          show_error("未知错误：" + JSON.stringify(data));
                          break;
                  }
                  $("#sign_up"+type).removeClass("loading");
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                  alert(XMLHttpRequest.responseText);
              }
        });
    }
    function show_error(error) {
        $("#modal_error_info").text(error);
        $("#error_info").text(error);
        $("#error").show();
        $("#modal_error").show();
    }
    $(function () {
        $('.ui.dropdown:not(.simple)').dropdown();
    });
</script>
<% include reception_footer %>
